main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('https://images.hdqwalls.com/download/rick-and-morty-netflix-2020-9d-3840x2400.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -50px;
}

.login_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.login_header img {
    width: 600px;
}

.login_header h1 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#dificuldade {
    flex-direction: row;
    flex-wrap: wrap;
}

#dificuldade ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
}

#dificuldade ul a {
    background-color: #ee665e;
    background-image: url('https://i.pinimg.com/originals/fc/e3/d1/fce3d14b6a87e0f8212bf300dfb4d77f.gif');
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: 50px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 2.5em;
    padding: 20px 60px;
    max-width: 1000px;
    gap: 40px;
    margin: 20px;
}